:root {
    --font-family: "Funnel Sans", sans-serif;
    --primary-color: #374254;
    --secondary-color: #ECECEC;
    --white-color: #FFFFFF;
    --text-color: #0E1424;
    --button-shadow-color: #ABABAB3B;
    --border-radius: 5px;
}

html, body {
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--white-color);
}

span {
    user-select: none;
}

.navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primary-color);
    width: 45px;
    height: auto;
    color: var(--white-color);
    font-size: 25px;
    box-shadow: 3px 0 17px 7px rgb(0 0 0 / 19%);
}

.navbar-actions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.navbar-title a:hover {
    text-decoration: underline;
}

.site-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}


.form-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--primary-color);
    padding: 20px;
    margin: 20px;
    border-radius: var(--border-radius);
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 9px 8px 17px 7px rgb(0 0 0 / 19%);
}

.form-wrapper > span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 70px;
}

div.form-wrapper div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 10px 0;
}

div.form-wrapper div label{
    width: 30%;
}

div.form-wrapper div input {
    width: -webkit-fill-available;
    padding: 8px;
    border-radius: var(--border-radius);
    border: 0;
    color: var(--primary-color);
    font-weight: bold;
}

div.form-wrapper button.open-client-page {
    padding: 10px;
    margin: 10px 0;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    color: var(--primary-color);;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

div.form-wrapper button.open-client-page:hover {
    box-shadow: inset 0 0 10px 5px var(--button-shadow-color);
}

div.form-wrapper div input:focus {
    outline: none;
}

.dark-mode-icon, .reset-form-icon, .favorites-icon {
    font-size: 35px;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

.dark-mode-icon:hover, .reset-form-icon:hover, .favorites-icon:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.darkMode {
    background-color: var(--text-color);
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: var(--primary-color) !important;
}